:root {
 --ion-color-primary: #ee1111;
 --ion-color-primary-rgb: 56,128,255;
 --ion-color-primary-contrast: #ffffff;
 --ion-color-primary-contrast-rgb: 255,255,255;
 --ion-color-primary-shade: #cf3c4f;
 --ion-color-primary-tint: #ed576b;
}